@charset "UTF-8";
/* ページの基本スタイル(commonに追加) */
body, html {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* フォームの各入力項目をまとめるグループ */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* ラベルのスタイル */
label {
	display: block;
	margin-bottom: 8px;
	font-weight: 700;
	color: #555;
}

/* 入力フィールドのスタイル */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; /* paddingを含めて幅を100%に */
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* 入力フィールドがフォーカスされた時のスタイル */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #007bff; /* フォーカス時に青色に */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/*ログインボタンの色*/
.login-btn{
	background-color: #007bff;
}

/*登録ボタンの色*/
.register-btn {
    background-color: #28a745; 
 }       
	

/* ログインボタンにマウスが乗った時のスタイル */
.login-container button:hover {
    background-color: #0056b3; /* 少し濃い青色に */
}

/* 登録ボタンにマウスが乗った時のスタイル */
.register-container button:hover {
    background-color: #218838; /* 少し濃い緑色に */
}
